<%- include('partials/header') %>

    <body>
        <div class="primaryHeader">
            <img src="https://acumenfl.com/wp-content/uploads/2019/06/acumen-logo.png">
            <h2> Company: <%= CompanyName %>
            </h2>
            <form class="searchform" action="/" method="get" onsubmit="updateAction(event)">
                <!-- Form fields -->
                <input type="search" name="query" id="queryInput" placeholder="Company...">
                <input type="submit" value="Search">
            </form>
        </div>

        <div class="Home-control">
            <div class="itemscontainer">
                <% newListItems.forEach((item)=> { %>
                    <div class="items" key="<%= item.id %>">
                        <h1 class="item">
                            <%= item.name %>
                        </h1>
                        <a class="add">
                            <FontAwesomeIcon icon={faPlus} />
                        </a>
                        <a class="minus">
                            <FontAwesomeIcon class="minus" icon={faMinus} />
                        </a>
                    </div>
                    <% }); %>
            </div>
        </div>

        <%- include('partials/footer') %>