<%- include('partials/header') %>

    <body>
        <div class="primaryHeader">
            <img src="https://acumenfl.com/wp-content/uploads/2019/06/acumen-logo.png">
            <h2> Company: <%= CompanyName %>
            </h2>
            <div class="dropdown">
                <input onclick="myFunction()" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"
                    onchange="this.form.submit()">
                <div id="myDropdown" class="dropdown-content">
                    <% foundcompanies.forEach((company)=> { %>
                        <a href='/<%= encodeURIComponent(company.name) %>'>
                            <%= company.name %>
                        </a>
                        <% }) %>


                </div>
            </div>
        </div>

        <div class="Home-control">
            <div class="itemscontainer">
                <% newListItems.forEach((item)=> { %>
                    <div class="items">
                        <form class="deleteform" action="/delete" method="post">
                            <input type="checkbox" name="Checkeditem" value="<%=item._id%>"
                                onchange="this.form.submit()">
                            <h1 class="item">
                                <%= item.name %>
                            </h1>
                            <input type="hidden" name="companyNames" value="<%=CompanyName%>">
                        </form>

                        <form class="CreateItem" action="/createitem" method="post">
                            <input type="text" name="Newsubitem" placeholder="New subcredentials" autocomplete="off">
                            <input type="hidden" name="companyNames" value="<%=CompanyName%>">
                        </form>
                    </div>
                    <% }); %>

                        <form class="newComp" action="/" method="post">
                            <input type="text" name="newItem" placeholder="New Credentials" autocomplete="off">
                            <button type="submit" name="newcompany" value="<%=CompanyName%>">+</button>
                        </form>
            </div>
        </div>


        <%- include('partials/footer') %>