<%- include('partials/header') %>

    <body>
        <div class="primaryHeader">
            <img src="https://acumenfl.com/wp-content/uploads/2019/06/acumen-logo.png">
            <h2> Company: <%= CompanyName %>
            </h2>
            <div class="dropdown">
                <input onclick="myFunction()" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"
                    onchange="this.form.submit()">
                <div id="myDropdown" class="dropdown-content">
                    <% foundcompanies.forEach((company)=> { %>
                        <a href='/<%= encodeURIComponent(company.name) %>' key="<%= company.id %>">
                            <%= company.name %>
                        </a>
                        <% }) %>


                </div>
            </div>
        </div>


        <div class="Home-control">
            <div class="itemscontainer">
                <form action="/delete" method="post">
                    <% newListItems.forEach((item)=> { %>
                        <div class="items">
                            <input type="checkbox" name="deleteitem" value="<%= item.id %>"
                                onchange="this.form.submit()">
                            <h1 class="item">
                                <%= item.name %>
                            </h1>
                        </div>
                        <% }); %>
                            <input type="hidden" name="companyNames" value="<%= CompanyName %>">
                </form>
            </div>
        </div>

        <form class="items" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%=  %>">+</button>

        </form>
        </div>
        </div>

        <%- include('partials/footer') %>